@font-face {
    font-family: 'KreonBold';
    src: url('../fonts/kreon-bold-webfont.eot');
    src: url('../fonts/kreon-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/kreon-bold-webfont.woff') format('woff'),
    url('../fonts/kreon-bold-webfont.ttf') format('truetype'),
    url('../fonts/kreon-bold-webfont.svg#KreonBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kreonlight';
    src: url('../fonts/kreon-light-webfont.eot');
    src: url('../fonts/kreon-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/kreon-light-webfont.woff') format('woff'),
    url('../fonts/kreon-light-webfont.ttf') format('truetype'),
    url('../fonts/kreon-light-webfont.svg#kreonlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0 auto;
}
#container{
    width: 100%;
    height: auto;
}
header{
    width: 60%;
    border: 10px solid #000000;
    border-radius: 5px;
    padding: 10px;
    color: black;
    background:#000099;
}
body{
    background-image: url(../imagenes/fondo.jpg);
    color: #000000;
}
.cubo1{
    width: 10%;
    height: 100px;
    background: rgba(255, 0, 0, .7);
    border-radius:9999px;
}
.let1{
    font-family:Arial Narrow;
    font-size: 400%;
    font-style: normal;
    text-shadow: 3px 3px 5px red;
}
.let3{
    font-family:Bernard MT Condensed;
    font-size: 400%;
    font-style: normal;
    text-shadow: 0 0 20px pink,

10px -10px 30px #FEEC85,

-20px -20px 40px #FFAE34,

20px -40px 50px #EC760C,

-20px -60px 60px #CD4606,

0 -80px 70px #973716,

10px -90px 80px #451B0E;
}
@-webkit-keyframes girando {
  from { -webkit-transform: rotateY(0deg);    }
  to   { -webkit-transform: rotateY(-360deg); }
}
#girando {
   -webkit-animation-name: girando;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-duration: 3s;
   -webkit-transform-style: preserve-3d;
}
#caja{
    width: 250px;
    height: auto;
    border: 5px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;
}
#foto{
    width: 128%;
    height: 128px;
    background-image: url(../imagenes/login_1.png);
}
.button{
    width: 60%;
    height: 50px;
    background: #00cccc;
    border-radius: 1px;
    border: 5px solid #000000;
}
.cajita{
    width: 200px;
    height: 30px;
    background: #33ffff;
}

